WebApplication2/src/conf/xml-resources/web-service-references/Market/wsdl/localhost_8082/Marketplace_Service/Market.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Market/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Market/">

<xs:element name="addProduct" type="tns:addProduct"/>

<xs:element name="addProductResponse" type="tns:addProductResponse"/>

<xs:element name="checkLike" type="tns:checkLike"/>

<xs:element name="checkLikeResponse" type="tns:checkLikeResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="listCatalog" type="tns:listCatalog"/>

<xs:element name="listCatalogResponse" type="tns:listCatalogResponse"/>

<xs:element name="yourproduct" type="tns:yourproduct"/>

<xs:element name="yourproductResponse" type="tns:yourproductResponse"/>

<xs:complexType name="addProduct">
<xs:sequence>
<xs:element name="userid" type="xs:int"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:string" minOccurs="0"/>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addProductResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="yourproduct">
<xs:sequence>
<xs:element name="idpenjual" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="yourproductResponse">
<xs:sequence>
<xs:element name="return" type="tns:produk" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="produk">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="idPenjual" type="xs:int"/>
<xs:element name="username" type="xs:string"/>
<xs:element name="namaBarang" type="xs:string"/>
<xs:element name="harga" type="xs:long"/>
<xs:element name="deskripsi" type="xs:string"/>
<xs:element name="namaFoto" type="xs:string"/>
<xs:element name="waktuDitambahkan" type="xs:string"/>
<xs:element name="jumlahLike" type="xs:int"/>
<xs:element name="jumlahBeli" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLike">
<xs:sequence>
<xs:element name="id_user" type="xs:int"/>
<xs:element name="id_barang" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLikeResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCatalog">
<xs:sequence>
<xs:element name="userID" type="xs:int"/>
<xs:element name="searchType" type="xs:string" minOccurs="0"/>
<xs:element name="searchKey" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCatalogResponse">
<xs:sequence>
<xs:element name="Produk" type="tns:produk" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>